<!-- 
  Footer and Scripts Template
  - Includes the necessary JavaScript libraries (jQuery, Popper.js, Bootstrap) needed for interactive page functionality.
  - Displays a footer with a copyright message for Prism Dance Studio.
-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>
    
<footer class="mt-4 bg-light text-center py-3">
  <p class="mb-0">Prism Dance Studio © 2025. All rights reserved.</p>
</footer>
